.categoryTitle{
  font-size: 48px;
  width: 10%;
}


.cur{
  display: inline;
  margin: 20px;
  margin-left: auto;
  right: 0;
}

.productName{
  font-weight: 300;
}

.container{
  flex: auto;
  flex-wrap: 'wrap';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  
  display: grid;
  justify-content: center;
  margin: auto;
  max-width: 90%;
  
}

.titleDiv{
  flex: auto;
  width: 100px;
  font-weight: 300;
}

.categoryTitle{
  margin-left: 11.5vh;
  flex: 1;
  flex-wrap: 'wrap';
}

.currencies-submenu{
  background: #ffff;
  left: 0;

  position: absolute;
  list-style: none;
  text-align: start;
  border: green;
  border-width:20px;

  margin-left: auto;
  padding: 6px;
  margin-top: revert;
  right: -70px;

  width: auto;
  box-shadow: 0 0 20px -15px;
}

.currencies-submenu li{
  
  cursor: pointer;
  
}

.linkText{
  font-size: 20px;
}


.submenu-item{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.currency-option{
  justify-content: center;
  display: flex;
}

.dropdownContainer{
  display: flex;
  top: 30px;
  position: absolute;
  left: -25px;
  float: left;
  z-index: 1;
}

.currencyButton{
  height: 200px;
}

#content-cart{
  margin-left: 30%;
}

.cartData{
  position: absolute;
  margin-left: 0;
}

.cartImage{
  width: 205px;
  height: 230px;
  position: relative;
  left: 600px;
  display:inline;
}

.cartItemsQuantity{
  position: absolute;
  margin-left: 550px;
  top: 100px;
}

hr.solid {
  border-top: 2px solid #bbb;
  max-width: 840px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#productName{
  font-size: 20px;
  font-weight: bold;
}

#productPrice{
  font-size: 18px;
}

.checkOutButton{
    border: solid white;
    border-width: 0 10px;
    border-radius: 0;
    background: green;
    color: white;
    font-size: 18px;
    margin: -60px auto 15px;
    padding: 15px;
    margin-left: 300px;
}