.App {
  text-align: center;
}

img{
  height: 350px;
  width: 330px;
}

a{
  margin: 15px;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.currencyButton{
  display: inline;
  right: 0;
  margin: 10px;
  margin-left: 50px;
}

.cartButton{
  display: inline;
  margin: 30px;
}

nav{
  color: black;
  right: 20px;
  margin: 1vw;
  margin-right: 5px;
  margin-left: 80px;
  display: flex;
}